
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: 0 0% 10%;
  --foreground: 0 0% 98%;

  --card: 0 0% 15%;
  --card-foreground: 0 0% 98%;

  --popover: 0 0% 10%;
  --popover-foreground: 0 0% 98%;

  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;

  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98%;

  --third : 265, 40%, 68%;

  --muted: 0 0% 20%;
  --muted-foreground: 0 0% 63.9%;

  --accent: 0 0% 25%;
  --accent-foreground: 0 0% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;

  --border: 0 0% 20%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;

  --radius: 0.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
}
