<div class="dropdown-container">
  <div class="dropdown-header" (click)="toggleDropdown()" [class.active]="isOpen">
    <span>{{ selectedOption || label }}</span>
    <span class="arrow" [class.rotated]="isOpen">▼</span>
  </div>

  <ng-container *ngIf="isOpen">
    <!-- Mobile: options open in a bottom-sheet picker. Desktop: floating list. -->
    <app-bottom-sheet *ngIf="isMobile(); else floating" (closed)="isOpen = false">
      <ul class="dropdown-sheet-list">
        <li *ngFor="let option of options"
            (click)="selectOption(option)"
            [class.selected]="option === selectedOption">
          {{ option }}
        </li>
      </ul>
    </app-bottom-sheet>

    <ng-template #floating>
      <ul class="dropdown-list">
        <li *ngFor="let option of options"
            (click)="selectOption(option)"
            [class.selected]="option === selectedOption">
          {{ option }}
        </li>
      </ul>
    </ng-template>
  </ng-container>
</div>
