.back-link-container {
 padding: 32px;
  background-color: hsl(var(--background));
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: white;
}

.back-link {
  color: hsl(34, 6%, 52%);
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.2s;
}
.back-link:hover { color: white; }
